/* todo: da eliminare*/



.alto{
    height: 400px;
}

.medio{
    height: 200px;
}


/*Utilities*/

/**IMG**/
.cs-img{
    width: 80px;
}

.cs-background{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.cs-rounded{
    border-radius: 20px;
}

/*icons*/

.header-bottom a i{
    color: gray;
    font-size: 10px;
    margin-left: 5px;
}

/**CUSTOM LAYOUT**/

.top-jumbotron{
    margin-top: 116px;
}
