/* todo: da eliminare*/

.row{
    border: 1px dashed red;
    height: auto;
}

[class^="col"]{
    border: 1px dashed purple;
    height: 100px;
}

.container{
    border: 1px solid green;
    
}

div{
    border: 1px solid orange;
    height: auto;
}

.alto{
    height: 400px;
}

.medio{
    height: 200px;
}

section{
    border: 1px solid black;
}