/* todo: da eliminare*/



.alto{
    height: 400px;
}

.medio{
    height: 200px;
}

section{
    border: 1px solid black;
}
/*Utilities*/

/**IMG**/
.cs-img{
    width: 80px;

}

/*icons*/

.header-bottom a i{
    color: gray;
    font-size: 10px;
    margin-left: 5px;
}

/**CUSTOM LAYOUT**/
